.menu {
  height: 100vh;
  /* background: url(../pictures/pic-two.jpg) no-repeat center center fixed;*/
  background-color: rgb(31, 30, 30);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.menu__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.menu__content h5 {
  color: rgb(252, 196, 188);
  padding-left: 29%;
  padding-right: 29%;
  padding-top: 25px;
  text-align: center;
}

.menu__logo_colored {
  height: 60px;
  object-fit: contain;
}

.menu__logo_logo {
  height: 220px;
  object-fit: contain;
  margin-top: 60px;
}

.menu__container {
  display: flex;
  /*border: solid red;*/
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
  padding-top: 60px;

  /* border: solid red;*/
}

.menu__card {
  position: relative;
  max-width: 240px;
  height: 270px;
  background: rgb(202, 193, 193);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 20px 20px rgba(160, 156, 156, 0.5);
  transition: 0.3s ease-in-out;
  margin-top: 40px;

  /*border: solid rgb(223, 29, 223);*/
}

.menu__content__header > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130%;
  margin-top: -100%;
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.menu__card .menu__content__header:hover {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.2s;
}
.menu__card:hover {
  height: 380px;
}

.menu__img {
  position: relative;
  width: 70%;
  object-fit: contain;
  top: -90px;
  z-index: 1;

  /*  border: solid peru;*/
}

.menu__img img {
  max-width: 100%;
  border-radius: 20px;
  margin-left: 20%;
}

.menu__card .menu__content {
  /*border: solid rgb(63, 184, 174);*/
  margin-top: -90px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.menu__card:hover .menu__content {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.4s;
}

.menu__content h3 {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.menu__content p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.menu__content__item {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 15%;
}

.menu__content__item h6 {
  margin-left: 5%;
}

.menu__content__wrapper {
  margin-top: -10%;
  padding-top: 20%;
}

@media all and (max-width: 599px) {
  .menu {
    height: 200vh;
    background-color: rgb(31, 30, 30);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }

  .menu__container {
    height: 500px;
    overflow: auto;
    border: solid pink;
  }
}

@media all and (max-width: 958px) {
  .menu__logo {
    height: 100px;
  }

  .menu__content {
    font-size: 13px;
  }
}
