.welcome {
  height: 100vh;
  border: solid rgb(31, 30, 30);
  /*background: url(../pictures/pic-three.jpg) no-repeat center center fixed;*/
  /*background-color: lightsalmon;*/
  background: url(../pictures/coffee.jpg) no-repeat center center fixed;

  min-height: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.overlay {
  background: #0000008a;
  top: 100%;
  left: 0;
  z-index: 1;
}

.welcome__pictures {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__logo img {
  width: 400px;
  object-fit: contain;
}

.welcome__tagline {
  padding-top: 60px;
}

.welcome__tagline img {
  width: 800px;
  object-fit: contain;
}

.welcome__content {
  color: white;
  padding-top: 30px;
  margin-top: 10px;
}

@media all and (max-width: 412px) {
  .welcome__logo img {
    height: 120px;
    object-fit: contain;
  }

  .welcome__tagline img {
    width: 300px;
    object-fit: contain;
  }

  .welcome__content {
    color: white;
    padding-top: 30px;
    margin-top: 10px;
    font-size: 15px;
  }

  .welcome__content h3 {
    font-size: 12px;
  }
}

@media all and (max-width: 958px) {
  .welcome__logo img {
    width: 400px;
    object-fit: contain;
  }

  .overlay {
    background: #0000008a;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .welcome__pictures {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
