.welcome {
  height: 100vh;
  border: solid rgb(231, 227, 227);
  /*background: url(../pictures/pic-three.jpg) no-repeat center center fixed;*/
  /*background-color: lightsalmon;*/
  background: url(../pictures/donuts.jpg) no-repeat center center fixed;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.welcome__pictures {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.welcome__logo img {
  width: 400px;
  object-fit: contain;
}

.welcome__tagline {
  padding-top: 60px;
}

.welcome__tagline img {
  width: 800px;
  object-fit: contain;
}

.welcome__content {
  color: white;
  padding-top: 30px;
  margin-top: 10px;
}
