* {
  margin: 0;
  /*border: solid red;*/
}

/*
  Snap effect 
*/

.app,
.app__snapSection {
  /*height: 100vh;*/
  height: 100vh;
}

.app {
  scroll-snap-type: y mandatory;
  scroll-snap-type: proximity;
  overflow: auto;
}

.app__snapSection {
  scroll-snap-align: start;
}

.app::-webkit-scrollbar {
  display: none;
}
